<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>  
        <!-- 是否启用 数据中 a_column 自动映射 到 java类中驼峰命名的属性。[默认:true] -->  
        <setting name="mapUnderscoreToCamelCase" value="true" />  
    </settings>  
        <!-- 别名 -->
    <typeAliases>
         <package name="com.rebaomi.model"/>
         <package name="com.rebaomi.dto"/>
    </typeAliases>
	
    <!-- 映射map 已在spring-datasource作了映射这里重复，否则报错-->
    <mappers>
<!--     	<package name="mapper"/> -->
    </mappers>
    
</configuration>